[openstack_vms]
username=<username>
api_key=<api_key/password>
auth_url=<auth_url for openstack instance>
project_id=<project_id>

[rhn_login]
base_url=<base_url>
rhn_username=<username>
rhn_password=<password>

[rhn_register]
rh_username=<username>
rh_password=<password>

[repo]
rhel6_repo= <rhel6_base_repo>
rhel7_repo=<rhel7_base_repo>
insights_repo_el6=<insights_el6>
insights_repo_el7=<insights_el7>
