[openstack_vms]
username=<username>
api_key=<api_key/password>
auth_url=<auth_url for openstack instance>
project_id=<project_id>

[ssh]
key_path=/path/to/jenkins_key

[rhn_login]
base_url=<base_url>
rhn_username=<username>
rhn_password=<password>

[rhn_register]
rh_username=<username>
rh_password=<password>

[api]
url=<api endpoint base url>

[certs]
cert_path=/path/to/cert.pem
key_path=/path/to/key.pem

[env]
# If you are running your tests against QA or CI env, you need to provide following details
# for the insights client to upload data to the respective env.
env_base_url=<base upload URL for insights for qa/ci>
env_username=<username>
env_password=<password>

[repo]
rhel6_repo= <rhel6_base_repo>
rhel7_repo=<rhel7_base_repo>
insights_repo_el6=<insights_el6>
insights_repo_el7=<insights_el7>
